<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#">首页</a>
          <a class="blog-nav-item active" href="#">博客</a>
          <a class="blog-nav-item" href="javascript:alert('我就是爱音乐，莫叫我停下来。我就是爱唱歌，呼吸打着节拍。')">关于我</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
        <p class="lead blog-description">这里记录了pysnow530在学习成长过程中的点点滴滴</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            {% for post in site.posts %}
            <a name="{{ post.id }}"></a>
            <p class="blog-post-meta">{{ post.date | date_to_string }}</p>
            {{ post }}
            {% endfor %}
          </div>

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>我是谁</h4>
            <p>pysnow530是一个运维开发工程师，平时喜欢捣鼓lisp和python，现在住在深圳南山</p>
            <p>pysnow530的唱功一流，不抽烟，但是有时候会喝酒</p>
            <h4>我从哪里来</h4>
            <p>跟你一样，pysnow530也是从垃圾桶里拣来的</p>
            <h4>我到哪里去</h4>
            <p>尘归尘，土归土，希望以后可以营养一株向日葵</p>
          </div>
          <div class="sidebar-module">
            <h4>日志列表</h4>
            <ol class="list-unstyled">
              {% for post in site.posts %}
              <a href="#{{post.id}}">{{ post.title }}</a>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>一起喝茶</h4>
            <ol class="list-unstyled">
              <li>github: <a href="http://github.com/pysnow530">pysnow530</a></li>
              <li>email: <a href="mailto:pysnow530@163.com">pysnow530@163.com</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>该博客使用 <a href="http://v3.bootcss.com/examples/blog/">bootstrap blog模板</a> 创建。</p>
      <p>
        <a href="#">返回顶部</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
